h1{
  text-align: center;
}

#limites{
  margin:auto;
  width:500px; height:500px;
  position:relative;
  background:#A0A0A0;
}

#viborita{
  border:0px;
  position:absolute;
  width:10px;
  height:10px;
  background:#260D26;
  margin-left: 250px;
  margin-top: 250px;
}
